body{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

nav{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.nav-bar{
    display: none;
}


.hamburger{
    border: none;
    background-color: white;
    margin-top: 35px;
}

@media only screen and (min-width: 500px) {
    .hamburger{
        display: none;
    }
    .nav-bar{
        display: flex;
        justify-content: flex-end;
        list-style: none;
        text-transform: uppercase;
    }

    .nav-bar li {
        margin: 0;
        padding: 10px;
    }
}

.show {
     display: flex;
     flex-direction: column;
     list-style: none;
        text-transform: uppercase;
}

li{
    margin: 15px 5px;
}

.logo{
    width: 100px;
    margin: 30px 50px;
}

section{
    width: 100%;
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0 0 0;
}

.about-me{
    width: 300px;
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
}

.info{
    max-width: 300px;
    margin: 30px;
}

.hero{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-info{
    margin: 30px;
    max-width: 300px;
}

.hero-image{
    width: 300px;
    height: 300px;
    margin: 30px;
}

@media only screen and (max-width: 780px) {
    .hero-info {
        max-width: 750px;
    }

    .hero-image {
        visibility: hidden;
        height: 0px;
    }
}

.styled-break{
    width: 30px;
    height: 5px;
    border-radius: 2px;
    background-color: #a17df4;
    margin: 30px 0;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

#name{
    color: black;
    font-size: 45px;
}

.test{
    width: 30px;
    height: 30px;
    background-color:aqua;
    margin: 5px;
}

.button{
    border: o;
    padding: 10px 20px;
    background-color: #ef566c;
    width: 80px;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;

}

.button:hover{
    background-color: blue;
    color: white;
}

.button:active{
    box-shadow: 2px 2px white;
}

form{
    margin: 0 0 40px 0;
}

.input-section{
    margin: 10px 0;
    display: flex;
}

.input-group{
    display: flex;
    flex-direction: column;
    margin: 0 5px 0 0;

}

footer{
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 700px) {
    footer {
        background-color: blue;
    }
}

.icon{
    margin: 3px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: lightblue
}